# Ignorar node_modules
node_modules/

# Ignorar o arquivo .env
.env

# Ignorar logs de aplicação
*.log

# Ignorar arquivos de sistema do OS
.DS_Store
Thumbs.db
shopping-list-5758e-firebase-adminsdk-fbsvc-334e1a2a4a.json
